.custom-ui {
    text-align: center;
    width: 500px;
    padding: 40px;
    background: #28bae6;
    box-shadow: 0 20px 75px rgb(0 0 0 / 23%);
    color: #fff;
}

.custom-ui > h1 {
    margin-top: 0;
}

.custom-ui > button {
    width: 160px;
    padding: 10px;
    border: 1px solid #fff;
    margin: 10px;
    cursor: pointer;
    background: none;
    color: #fff;
    font-size: 14px;
}

.modalVisible {
    display : none!important;
  }


  .thumbnail {
    position:relative;
    padding: 5px;
    border: 2px solid gray;
    margin: 2px;
    float: left;
  }
    
    .thumbnail img {
    max-width:100%;
    max-height:100%;
  }
    
    .thumbnail a {
    display:block;
    width:20px;
    height:20px;
    position:absolute;
    top:3px;
    right:3px;
    color:#c00;
    overflow:hidden;
    /* text-indent:-9999px; */
  }